.tileee{
   
        width: 49%;
        height: 47.9%;
        background-color: #03549F;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 20px;
   
    &__h3{
        font-size: 14px;
        font-weight: 400;
        color: rgb(216, 214, 214);
        margin-top: $spacer-2;


    }
    &__h4{
        font-size: 14px;
        font-weight: 600;
        color: $color-white;
        margin-top: $spacer-1;

    }
    .head{
        width: 100%;
        height: auto;
        display: flex;
        align-items: center;
        &__h2{
            font-size: 18px;
            font-weight: 600;
            color: $color-white;
            margin-left: $spacer-2;
        }
    }

}