.footer{
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    padding: $spacer-6;
    padding-top: $spacer-8;
    background:linear-gradient(to left,$color-darkblue,rgb(20, 3, 67));
    .headingmain{
        font-size: 15px;
        font-weight: 400;
    }
    .heading{
        font-size: 16px;
        font-weight: 600;

    }

    .right-container{
        width: 50%;
        height: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        .inductries{
            width: 33%;
            height: 200px;
            h3{
                margin-top: $spacer-1;
                color: $color-white;
            }
        }
    }



.left-container{
    width: 50%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
   
    .righttt{
        width: 400px;
        height: auto;
        display: flex;
        flex-wrap: wrap;
        margin-top: $spacer-2;
        margin-left: 100px;
        .oneee{
            width: 50%;
            height: auto;
            color: $color-white;
            h3{
                margin-top: $spacer-1;
            }
            
        }
        .twooo{
            width: 50%;
            height: auto;
            color: $color-white;
            margin-top: $spacer-3;
            h3{
                margin-top: $spacer-1;
            }
            
        }

    }
    .lefttt{
        width: 2$spacer-1;
        height: auto;
        color: $color-white;
        display: flex;
        flex-direction: column;
        &__h3{
            margin-top: $spacer-2;
        }
    
    .imagefooter{
        width: 150px;
        height: $spacer-4;
    }
  }
}
}

.footer-down{
    width: 100%;
    height: auto;
    background-color: rgba(21, 13, 43, 1);
    padding: $spacer-3;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    &__headddd{
        color: white;
        font-size: 14;
        font-weight: 400;
    }
    .leftnavup{
        width: 400px;
        height: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        i{
            margin: $spacer-1;
            font-size: 15px;
        }
    }
}

@include mobile{
    .footer {
        width: 100%;
        height: auto;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
        padding-top: $spacer-3;
        background-color: #13274F;
    }
    .footer .left-container .righttt .oneee {
        width: 100%;
        height: auto;
        color: white;
    }
    .footer .left-container .righttt .twooo {
        width: 100%;
        height: auto;
        color: white;
        margin-top: $spacer-3;
    }

    .footer .right-container {
        width: 50%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
    }
    .footer .right-container .inductries {
        width: 100%;
        height: 200px;
    }
    .footer .left-container .righttt {
        width: 400px;
        height: auto;
        display: flex;
        flex-wrap: wrap;
        margin-top: 20px;
        align-items: center;
        justify-content: center;
    }
    
}