.logo{
    width: 150px;
    height: $spacer-3;
    margin-top: 15px;
}
.navuper{
    width: 100%;
    height: auto;
    padding: 10px 17px;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
    border-bottom: 1px solid $color-grey;
    .leftnavup{
        width: 400px;
        height: auto;
        display: flex;
        align-items: center;
        i{
            margin-right: 10px;
            font-size: 15px;
        }
    }
    .rightnavup{
        width:auto;
        height: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        &__fstdiv{
            display: flex;
            align-items: center;
        }
        h4{
           font-weight: 300;
        }
        div{
            margin-right: 10px;
            margin-left: 6px;
        }
        &__button{
            width: 150px;
            background-color: $color-darkblue;
            width: auto;
           color: $color-white;
           padding: $spacer-1;

        }

    }
}
.navdown{
    width: 100%;
    height: auto;
    padding: 0px 17px;
    
}
nav{
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
nav ul{
    float:right;
    list-style: none;
 
}
nav ul li{
    display: inline-block;
    line-height: $spacer-6;
    margin: 0 $spacer-1;
    color: $color-darkblue;
    list-style: none;
}
nav ul li a{
    color: black;
    font-size: $spacer-11;
    transition: .5s;
    text-transform: uppercase;
    padding: 7px 13px;
    border-radius: 3px;
    text-decoration: none;
}
a:hover{
    background-color: #297bb2;
    color: white;
}
.checkbtn{
    float: right;
    line-height: $spacer-8;
    font-size: $spacer-3;
    cursor: pointer;
    display: none;
}
#check{
    display: none;
}
section{
    
    background: url(/Photo/Banner.jpg) no-repeat;
    background-size: cover;
    background-position:right;
    height: 0px;
    width: 100%;
}
section img{
    width: 100%;
}

@include tablet{
    .checkbtn{
        display: block;
       }
       ul{
        position: absolute;
        width: 100%;
        height:calc(100vh - 80px);;
        background: $color-darkblue;
        top:80px ;
        left: -120%;
        text-align: center;
        transition: all .5s;
        margin-top: 60px;
        z-index: 3;
        
        }
        nav ul li{
          display: block;
          margin: 29px 0;
          line-height: $spacer-3;
    
        }
        nav ul li a{
          font-size: $spacer-2;
          color: white;
          
    
        } 
        a:hover,a.active{
          background: none;
          color: #0082e6;
        }
        #check:checked ~ ul{
          left:0 ;
        }
    
}

@include mobile{
    .navuper .rightnavup .rightnavup__fstdiv{
       display: none;
    }
    .navuper .rightnavup__button {
        width: 130px;
        background-color: #13274F;
        color: white;
        padding: 6px;
    }
    .leftnavup h4 {
        display: none;
    }
    .leftnavup div {
        display: none;
    }
    .leftnavup img {
        display: none;
    }
    

}