.third-section{
    width: 100%;
    height: 413px;
    background: linear-gradient(to right, #1f1e1e, transparent), url('file:///C:/Users/DELL/OneDrive/Desktop/Beinex%20tasks/Finaltestcase/Asset/images/blurbgg.svg');
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    .personimage {
        position: absolute;
        top: 53%;  
        left: 75%; 
        transform: translate(-50%, -50%);
    }
    .left{
        width: 65%;
        height: 100%;
        
        &__h3{
            font-size: 28px;
            font-weight: 600;
            color: $color-white;
            padding-left: $spacer-3;
        padding-top:$spacer-3 ;
        }
        &__h5{
            font-size: 14px;
            font-weight: 400;
            color: $color-white;
            padding-left: $spacer-3;

        }
        .trust-indexx{
            width: 100%;
            height: 251.7px;
            padding-left: $spacer-3;
            display: flex;
            flex-direction: column;
            justify-content: space-around;

        }
        .bottom{
            width: 100%;
            height: 68px;
            background-color:$color-blue;
            display: flex;
            align-items: center;
            color: $color-white;
            padding-left: $spacer-3;

            // padding:  $spacer-1 0px;
        }
    }
}

@include mobile {
    .third-section .personimage {
        position: absolute;
        top: 53%;
        left: 75%;
        transform: translate(-50%, -50%);
        display: none;
    }
    .third-section {
        width: 100%;
        height: auto;
        background: linear-gradient(to right, #1f1e1e, transparent), url(file:///C:/Users/DELL/OneDrive/Desktop/Beinex%20tasks/Finaltestcase/Asset/images/thrdsecbggg.svg);
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
    }
    .third-section .left {
        width: 100%;
        height: 100%;
        padding: 40px;
    }
    .third-section .left__h3 {
        font-size: 28px;
        font-weight: 600;
        color: white;
        padding-left: 30px;
    }
    .trust-line1 {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
    }
    .third-section .left .trust-indexx {
        width: 100%;
        height: auto;
        padding-left: 30px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding-top: $spacer-2;
        padding-bottom: $spacer-2;
    }
    .trust-line1 .one {
        width: 100%;
        height: auto;
        padding: $spacer-1 0px;
        display: flex;
        align-items: center;
    }
    .trust-line1 .two {
        width: 100%;
        height: auto;
        padding: 10px 0px;
        display: flex;
        align-items: center;
    }    
}
